[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu117/"
verify_ssl = true
name = "pytorch"

[packages]
seaborn = "*"
scikit-learn = "*"
torch = {index = "pytorch",version = "==2.0.1"}
torchvision = {index ="pytorch", version= "0.15.2"}
torchaudio = {index ="pytorch", version= "2.0.2"}
torchsummary = "*"
numpy = "==1.16.4"
pandas = "*"
matplotlib = "*"
tqdm = "*"
opencv-python = "*"
tensorboard = "*"
coloredlogs = "*"

[requires]
python_version = "3.10"
